.cartitem {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: #fff;
    border-radius: 2px;
    place-items: center;
    margin-bottom: 8px;
}

.cartItemsName {
    text-decoration: none;
    color: #171717;
}

.cartItemsName:hover {
    color: #dd219e;
}

.cartItemSelect {
    padding: 10px 17px;
}

.cartItemDelete {
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.cartItemDelete:hover,
.cartItemDelete:active,
.cartItemDelete:focus {
    background: #171717;
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .cartItemsName {
        font-size: 0.8rem;
    }

    .cartItemSelect,
    .cartItemDelete {
        padding: 8px 13px;
    }

    .cartItemPrice {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .cartItemsName {
        font-size: 0.6rem;
    }

    .cartItemSelect,
    .cartItemDelete {
        padding: 5px 8px;
    }

    .cartItemPrice {
        font-size: 0.6rem;
    }
}