.navbar {
    width: 100%;
    height: 80px;
    background: #eceaea;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    z-index: 50;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #dddddd;
    align-items: center;
    flex-wrap: wrap;
}

.nav_Logo {
    list-style: none;
    display: flex;
    color: #45a28d;
    font-weight: bold;
    text-transform: uppercase;
}

.nav_Logo > li {
    padding-left: 1.5rem;
}

.nav_Logo > li > a {
    color: #45a28d;
    text-decoration: none;
    display: flex;
    font-size: 1.7rem;
}

.search > li {
    list-style: none;
}

.nav_Logo > li > a:hover {
    color: #56c1a8;
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_links > li {
    padding-left: 1.5rem;
}

.nav_links > li > a {
    text-decoration: none;
    display: flex;
    font-size: 1.2rem;
    color: #706f6f;
    align-items: center;
}

.nav_links > li > div > a:hover {
    color: black;
}

.nav_links > li > div > a {
    text-decoration: none;
    color: #706f6f;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.nav_links > li > a:hover {
    color: black;
}

.nav_links > li > a > span {
    display: flex;
    margin-left: 8px;
    align-items: center;
}

.nav_links > li > div > a:hover {
    color: black;
}

.nav_links > li > div > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.cart_Link {
    background: #f1f0f0;
    margin-right: 20px;
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

.cart_Link:hover {
    color: #f4f4f4;

}

.cartLogo_Batch {
    top:-10px;
    right: -10px;
    background: crimson;
    padding: 5px 7px;
    color: white;
    font-size: 13px;
    border-radius: 20px;
    position: absolute;

}


@media (max-width: 960px) {
    .nav_Logo h2 {
        font-size: 1rem;
    }
}
.nav-btn{
    margin: 5px;
    padding: 5px;
    background-color: #45a28d;
    border: 0px;
    border-radius: 3px;
    width: 80px;
    height: 30px;
}
.nav-btn > a{
    text-decoration: none;
    color: #ffffff;
}
.nav-btn:hover{
    border-bottom: #dd219e 3px solid;
}
.avartar{
    background-color: #dd219e;
    border-radius: 50px;
    height: 40px;
    padding: 10px 12px 8px 15px;
    width: 40px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px #706f6f;
    box-shadow: 2px 2px 5px 1px  #706f6f;
    margin-left: 5px;
}
.userPro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #388674 1px solid;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 0px;
}
.userPro > a{
    text-decoration: none;
}