.product {
    width: 330px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 1rem;
    margin: 20px auto;
    justify-content: space-around;
    flex-direction: column;
}
.product > img {
    width: 100%;
    object-fit: contain;
    height: 210px;
    border-radius: 8px;
}
.productInfo > p {
    line-height: 1.3;
    margin: 5px 10px;
}

.infoDescription {
    font-size: large;
    text-align: justify;
}

.infoPrice {
    color: red;
    font-weight: bold;

}
.infoName {
    color: #388674;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: bold;
}
.infoDescription {
    font-size: 0.8rem;
}
.infoButton {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
    background-color: #388674;
    text-align: center;
    font-size: 1.3rem;
}

.infoButton:hover {
    color: #f4f4f4;
    background: #45a28d;
}
@media (max-width: 1232px) {
    .product {
        width: 360px;
    }
}

@media (max-width: 1115px) {
    .product {
        width: 330px;
    }
}

@media (max-width: 1028px) {
    .product {
        width: 300px;
    }
}

@media (max-width: 950px) {
    .product {
        width: 400px;
    }
}

@media (max-width: 830px) {
    .product {
        width: 330px;
    }
}

@media (max-width: 700px) {
    .product {
        width: 290px;
    }
}

@media (max-width: 630px) {
    .product {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .product {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .product {
        width: 300px;
    }
}