.row input{
    height: 36px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 0 60px 0 20px;
    border-radius: 5px 0px 0px 5px;
}

.searchButton {
    height: 36px;
    background: #56c1a8;
    outline: none;
    border: none;
    width: 29px;
    border-radius: 0px 5px 5px 0px;
}